/* normalize */
@import-normalize;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

main {
  flex: 1;
}
footer {
  border: 2px solid green;
  background-color: lightgray;
}

#root {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
