.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #111827;
  padding: 0 20px;
}

.nav {
  /* Add styles for the navigation container */
}

.links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Add styles for NavItem */
.navItem {
  margin-left: 10px;
}

.ShowLink {
  margin-left: 20px;
}

/* Add styles for NavLink */
.navLink {
  color: #f8fafc;
  text-decoration: none;
}

.navLink:hover {
  color: #c026d3;
}
